<div class="search-add">
  <input placeholder="search..." [ngModel]="searchTerm()" (ngModelChange)="searchTerm.set($event)">
  <button matButton="elevated" color="primary" [routerLink]="['/add-drink']">Add a Drink</button>
</div>

<div class="drinks-container">
  @for (drink of filteredDrinks(); track drink.id) {
  <div class="controls">
   <a mat-button [routerLink]="['/drink', drink.id]">
     @if (drink.isFavorite) {
     <span>★ </span>
     }
     <span>{{drink.name}}</span>
   </a>
 </div>
  }
</div>