.drinks-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  margin: 1rem;
  margin: 2rem 1.5rem 1rem;
}

.search-add {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  margin: 1rem 1.5rem;
  button[matButton] {
    background-color: lightpink;
    border-radius: 0.5rem;
    font-weight: 500;
    cursor: pointer;
  }
}

.controls {
  display: flex;
  justify-content: center;
  gap: 1rem;
  .mat-mdc-button {
    border: 1px solid lightpink;
    border-radius: 0.375rem;
    font-weight: 500;
    cursor: pointer;
  }
  :hover{
    background-color: lightpink;
  }
}

a {
  text-decoration: none;
  color: #333;
}

input {
  width: 295px;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 0.5rem;
}