:host {
    display: block;
    margin: 0;
    padding: 20px;
    font-family: system-ui, sans-serif;
    background: linear-gradient(to right, plum, lightblue);
    min-height: 100%;
  }

.card {
    max-width: 500px;
    margin: 1rem auto;
    margin-bottom: 1rem;
    padding: 2rem;
    align-items: center;
    justify-content: center;
    text-align: center;
    background: white;
    border-radius: 0.5rem;
    box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
    cursor: pointer;
  
    :hover {
      transform: scale(1.05);
    }
  }
  
  .title-container {
    text-align: center;
  }
