<div class="card">
    <h1>{{title()}}</h1>
  
    <div class="controls">
      <button class="btn-primary" (click)="clickButton1()">Spaghetti Carbonara</button>
      <button class="btn-primary" (click)="clickButton2()">Caprese Salad</button>
    </div>
  
    <!-- Only show the recipe details if a recipe is selected -->
    @if (recipe().id) {
      <p class="recipe-name">{{recipe().name}}</p>
      <img [src]="imgUrl()" alt="A dynamic image">
      <p>{{recipe().description}}</p>
  
      <div class="servings">
        <button class="btn-secondary" (click)="decrease()">-</button>
          <span>Servings: {{serving()}}</span>
          <button class="btn-secondary" (click)="increase()">+</button>
      </div>
  
      <p>Ingredients:</p>
      <ul>
          @for (ingredient of adjustedIngredients(); track ingredient.name) {
              <li>
                  <span>{{ingredient.name}}</span>
                  <span>{{ingredient.quantity | number:'1.0-2'}}{{ingredient.unit}}</span>
              </li>
          }
      </ul>
    }
  </div>
  